<!-- views/partials/header.ejs -->
<header class="header-container">
    <a href="/">
        <img src="public/images/Chapters.png" alt="Book Tracker Logo" class="logo">
    </a>
    
    <div class="nav-links">
        <% if (user) { %>
            <a href="/books">My Books</a>
            <a href="/auth/logout">Logout</a>
        <% } else { %>
            <a href="/auth/login">Login</a>
            <a href="/auth/register">Register</a>
        <% } %>
    </div>
</header>